.registrationFormWrap {
    position: absolute;
    left: 0px;
    height: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.formsWrap {
    width: 315px;
}

.formsWrap input {
    width: 300px;
    font-size: 20px;
    padding: 3px;
    margin: 3px;
}